<div class="Jumbo">
        <div class="container">
          
            <h1>Getting Started with the Imgur API</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2> What is the Imgur API? </h2>
            <p>The Imgur API allows you to do everything you can do on Imgur.com but through code! Sounds fun right!!! You can do anything you can do on the site but through the programing language of your choice. It is a "RESTful API based on HTTP requests and JSON(P) responses." It also uses OAuth 2.0, which we will be going over later in this guide. Which basically means that all the requests must be encrypted and sent viea SSL/TLS to https:// and that you have to register to be able to use the API. </p><h3>So lets get started!</h3>             
        </div>
        
        <div class="col-md-4">
            <h2> Lets Get Registered! </h2>
            <p><ul>
            <li>In order to register please go <a href="https://imgur.com/signin?redirect=http://api.imgur.com/oauth2/addclient">here</a>.</li>
            <li>If you do not have an account please click on "need an account" at the bottom.</li>
            <li>To create an account enter a Username, your Email and a password.</li>
            <li> Once you have done this please click next.</li>
            </ul> 
            </p>             
        </div>
         </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
             <img src="img/Register an Ap.PNG" alt="Register" style="width:900px;height:900px;">             
        </div>
    </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
         <div class="col-md-4">
            <h2> Lets Get a Client ID </h2>
            <p><ul>
            <li> Fill out the form to Register an Application.</li>
            <li> For this project I chose the second Authorization type OAuth2 authorization without a callback URL.</li>
            <li> when your finished click the "submit" button </li>
            <li> Now you should have a Client ID and a Client Secret ID.</li>
         <img src="img/ID.PNG" alt="ID" style="width:1016px;height:536px;">
         <br>
         <br>
           <a class="btn btn-primary btn-lg" href="/imageSearch" role="button">Let's get our feet wet! »</a></p>             
        </div>
        </div>
        </div>
   

