<div class="container theme-showcase" role="main" id="hello">
   
    <div class="Jumbo">
        <div class="container">
            <h1>Welcome! </h1>
            <p> This is the how to guide for using Imgur's API.</p>
            <p>
                
           <a class="btn btn-primary btn-lg" href="/gettingstarted" role="button">Let's Start! »</a>
           </p>

          
            </div>
    </div>
</div>


<div class="container" id="introText">
    <div class="row">
        <div class="col-md-5">
        <h2>What is Imgur?</h2>
            <p>This is a guide on how to use the Imgur API. Imgur is a social media website for images, memes and gifs. It was started in 2009 by Alan Schaaf as a platform to share images. You can read more about how Imgur started  <a href="http://imgur.com/about">here</a>.
             
        </div>
        <div class="col-md-5">
        </div>
          <div class="col-md-5">
        <h2>What will it cover?</h2>
            <p>In this guide we are going to cover: </p>
            <ul>
            <li>How to search for an image on Imgur using the API</li>
            <li>How to upload an image using the API</li>
            <li>How to create and link a user log in through the API</li>
            </ul>
        </div>
         <div class="col-md-4">
        <h2>What will we do with this?</h2>
            <p>We will learn how to make an Imgur interactive web page. That allows users to sign in, search and upload images. 
            <br>
            <br>
            <a class="btn btn-warning btn-sml" href="/gettingStarted" role="button">Lets Get Started! »</a> </p>
        </div>
        
    </div>
</div>
<br>
<div class="container" id="image">
    <div class="row">
        <div class="col-md-14">
 <img src="img/imgur.PNG" alt="Register" align="middle" style="width:397px;height:421px;</p>

   </div>
      </div>
         </div>