<div class="container" id="hello">
    <div class="row">
        <div class="col-md-12">
            <h1>Diving deeper into searches</h1>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
               <p>If you would prefer to make fewer API calls and parse the data as one large object in JS, then use
               the GetDeepSearchResults API. This also offers more data about the property</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>What's Next</h2>
            <p>Next we are going to look at how to make a chart using historical housing prices.</p>
        </div>
    </div>
</div><br>
